*{margin:0;padding: 0;}
body{
	background-color:#1a1a1a; 
}
.h7{
	font-size:15px;
	font-weight: lighter;
}
.h10{
	font-size: 14px;
	color: #cccccc;
}
.w-80{
	width: 80%;
}
#content{
background-color:#1a1a1a;

}
#weixin1{
	position: relative;	
}
#weixin1::after{
	content: url(../IMAGE/index_img/erweima.jpg);
	display: none;

}
#weixin1:hover::after{
	display: block;
	position: absolute;
	z-index: 999;
	left:-100px;
}
#head-title{
	position: fixed;
	z-index: 1500;
	width: 100%;
}
#header{
	width: 100%;
	height: 25px;
	font-size: 14px;
	color: white;
	background-color: #161819;
	text-align: center;
	margin-left: 0;
}
#header_log{
	width: 100%;
	height: 100px;
	background-color:#161819;
}
#h-left{
	height: 50px;
	background-color:#161819;
	box-sizing: border-box;
	margin-left: 13%;
	width: 20px;
	cursor: pointer;
}
#logo{
	box-sizing: border-box;
	width: 20%;
	text-align: center;
	margin-top: -40px;
}
.bg-black{
	background-color: #161819 !important;
}
.bg-black2{
	background-color: #000000 !important;
}
@media (max-width: 700px){
.nav-line{
	border-bottom: 1px solid white !important;
	}
}
/* 内容部分 */
.content{
	background-color: #1a1a1a;
	margin-top: 175px;
}
@media (min-width:576px){
	.map{
		padding-top: 30px;
	}
	.contactUs{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@media (min-width:768px){
	.map{
		padding-top: 20px;
	}
	.contactUs{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (min-width:992px){
	.map{
		padding-top: 30px;
	}
	.contactUs{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
/* 尾部样式声明 */
	.foot{
		width: 100%;
		background-color:#161819; 
	}
.container-footer{
		width: 70% !important;
		margin-left: 15%;
		align-items: center;
		justify-content: center;
		}
/*	鼠标悬停微信图标弹出二维码*/
.weixin{
	position: relative;	
}
.weixin::before{
	content: url(../IMAGE/produce_img/erweima.jpg);
	display: none;
}
.weixin:hover::before{
	display: block;
	position: absolute;
	top:-280px;
	left: -100px;
	z-index: 999;
}